<!-- BEGIN: FORGOT -->
<head>
	<title>Login-Project</title>
	<link rel="stylesheet" type="text/css" href="./css/style.css" />
</head>
<body>
	<div class="boxForgot">
		<div class="forgot">
			<div class="headForgot">
				<h3>Reset Password</h3>
			</div>
			<form method="POST" name=frmForgot">
				<table>
					<tr>
						<td><a>Full Name : </a></td>
						<td>
							<input id="fullname" type="text" name="txtFullName" value="{fullName}" placeholder="Full Name" />
							<span class="mess"name="mess_fullName">{mess_fullName}</span>
						</td>
					</tr>
					<tr>
						<td><a>Email :</a></td>
						<td>
							<input id="email" type="text" name="txtEmail" value="{email}" placeholder="Ex: Example@gamil.com" />
							<span class="mess"name="mess_email">{mess_Email}</span>
						</td>
					</tr>
					<tr>
						<td><a>Phone :</a></td>
						<td>
							<input id="phone" type="text" name="txtPhone" value="{Phone}" placeholder="Ex: 0989997979" />
							<span class="mess"name="mess_email">{mess_Email}</span>
						</td>
					</tr>
				</table>
				<div class="Reset">
					<input id="subReset" type="submit"  name="sbLogin" value="Reset Password"/>
				</div>
			</form>
		</div>
	</div>
</body>
<!-- END: FORGOT -->
				<div class="fullname">
					
					
				</div>
				<div class="email">
					
					
				</div>
				<div class="email">
					
					
				</div>
				