<!-- BEGIN: E1 -->
<div class="box">
		<div class="head">
			<a>Register info </a>
		</div>
		<div class="info">
		<form method="POST" name="frmAdd" >
			<table>
				<tr>
					<td><a>Full Name</a></td>
					<td>
						<input type="text" name="txtFullName" value="{fullName}" id = "txtFullName"placeholder="Enter Your FullName" /><br>
						<span id="mess_fullname" class='err_mess'>{mess_fullname}</span>
					</td>
				</tr>
				<tr>
					<td><a>Address</a></td>
					<td>
						<input type="text" name="txtAddress" value="{address}" placeholder="Enter Your Address" id="txtAddress" /><br>
						<span id="mess_address">{mess_address}</span>
					</td>
				</tr>
				<tr>
					<td><a>Email</a></td>
					<td>
						<input type="text" name="txtEmail" value="{email}" placeholder="Enter Your Email" id="mail" /><br>
						<span id="mess_email">{mess_email}</span>
					</td>
				</tr>
				<tr>
					<td><a>Phone number</a></td>
					<td>
						<input type="text" name="txtPhone" value="{phone}" placeholder="Enter Your Phone number" id="phone" /><br>
						<span id="mess_phone">{mess_phone}</span>
					</td>
				</tr>
				<tr>
					<td><a>Gender</a></td>
					<td>
						<input type="radio" name="rdGender" value="Male" />Male
						<input type="radio" name="rdGender" value="FeMale" />FeMale <br>
						<span id="mess_gender">{mess_gender}</span>
					</td>
				</tr>
			</table>
			<div class="result">
					<a href="?m=e1&a=info"><input type="submit" name="submit" value="Register"/></a>
			</div>
		</form>
		
		</div>
</div>
<!-- END: E1 -->

				